@mixin BTN-form{
    background-color: $primary-color;
    color: $text-color;
    padding: 10px;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: darken($primary-color, 10%);
      filter: hue-rotate(266deg);
    }
  }