$primary-color: #f7f7f7e2;
$background-color: #0000009d;
$form-background: #ffffff63;
$form-border: #ffffff;
$text-color: rgb(79, 19, 229);
$user-titel-text:#8c8c8c;
$card-background: rgb(255, 255, 255);
$card-border: $text-color;